doctype html
html(lang="ru-RU")
    include ../common/head
    body.hasMap.hasSlideMenu
    <!--[if lt IE 7]>
    <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите</a> его.</p>
    <![endif]-->
    .wrapper
        include ../common/slide-menu
        //Шапка
        include ../common/header
        section.about.to_scroll
            svg(
            viewbox="0 0 1000 100"
            preserveAspectRatio="none"
            class="triangle about-triangle--left")
                polygon(points="0,0 0,100 1000,100").triangle.triangle--fill--olive
            svg(
            viewbox="0 0 1000 100"
            preserveAspectRatio="none"
            class="triangle about-triangle--right")
                polygon(points="0,100 1000,100 1000,0").triangle.triangle--fill--beige
            .about-left
                .title.about__title
                    //svg.title__svg-bg
                    //    use(xlink:href='assets/img/sprite.svg#pages--works--about_title')
                    | Прокат
                .about__user
                    .user-about
                        .user-about__picture
                        .user-about__title.subtitle
                            | услуги егеря
                        .user-about__text
                            p Егери с опытом работы на базе помогут опытным рыбакам и станут инструкторами для новичков. Обучат навыкам управления квадроциклом и снегоходом. При необходимости доставят вас на место отдыха, помогут организовать его, а потом привезут на базу.
            .about-right
                .about-data
                    .about-data__description.about-user-info
                        .about-user-info__title.subtitle
                            | Прокат оборудования
                            |
                            br
                            |
                            | и инвентаря
                        .about-user-info__text
                            | Стоимоссть можно узнать у нашего менеджера
                    .about-data__content
                        ul.skills
                            each section in tools
                                li.skills__item
                                    .skill-section
                                    .skill-section__title= section.section
                                    ul.skill-section__list
                                        each tool in section.tools
                                            li.skills-section__item
                                                img(src=tool.path).skill-section-image
                                                .skill-name= tool.name

        section.map
            #map
            .contacts
                include ../common/my-contacts
        //Подвал
        include  ../common/footer
        include  ../common/preloader
        script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtnREyc4HgRBTafjCvQDAORAEeUNMhjAo")