doctype html
html(lang="ru-RU")

    include ../common/head
    body.hasMenu
    <!--[if lt IE 7]>
    <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите</a> его.</p>
    <![endif]-->
    .wrapper
        //Шапка
        header.header.blog-header
            .header__bg.blog-header
            .Background
                canvas.Background-canvas
            .header__title
                include ../common/user
                .title.blog-name НОВОСТИ
                    //svg.svg-title.blog__svg-title
                    //    use(xlink:href='assets/img/sprite.svg#pages--blog--blog_title')
                .header__desc
                    | Новости нашей базы
        //-Контент
        .blog-content
            svg(
            viewbox="0 0 1000 100"
            preserveAspectRatio="none"
            class="triangle blog__triangle blog__triangle--left")
                polygon(points="0,0 0,100 1000,100").triangle.triangle--fill--navajo
            svg(
            viewbox="0 0 1000 100"
            preserveAspectRatio="none"
            class="triangle blog__triangle blog__triangle--right")
                polygon(points="0,100 1000,100 1000,0").triangle.triangle--fill--navajo
            aside.blog-nav
                ul.blog-items
                    each index in items
                        li.blog-items__item.blog-items__item--green
                            a(href=`#${index._id}` class='blog-items__link')= index.title
                a(href='#').tail
            section.articles
                each article in items
                    article(class='article' id=`${article._id}`)
                        .article__title= article.title
                        -
                            var data = new Date(article.date).toLocaleDateString('ru', {
                            year: 'numeric',
                            month: '2-digit',
                            day: '2-digit'
                            })
                        .article__date= data
                        p.article__text= article.body

    //-Подвал
    footer.footer.blog-footer
        .footer__desc
            | Всегда лучшие условия отдыха для семей с детьми
        .footer__nav
            mixin menu(link, name)
                li.menu__item
                    a(href=link class='menu__link')= name
            ul.menu
                +menu('works', 'База отдыха')
                +menu('about', 'Информация')
                +menu('blog', 'Новости')
                +menu('/', 'Авторизация')
            include ../common/socials
        .footer__quote
            | Посетив нашу базу, вы соприкоснетесь с суровой красотой севера и заповедными уголками месной природы.
            .footer__quote-name
                | --Гарантируются свободные места
    section.footer-copy.blog-footer-copy &copy; Алексей Исаев| Создано с любовью в LoftSchool | 2017
    include  ../common/preloader
